.hero-section {
	display: block;
	width: 100vw;

	&__hero-text {
		text-align: center;
		font-family: $lf;
		margin-top: -7.5rem;
		padding: 31rem 0;
		background-image: url(../../resources/img/top-banner-1-min.png);
		background-position: center right;
		background-size: cover;
		background-repeat: no-repeat;

		@include respond(big-dekstop) {
			background-image: url(../../resources/img/top-banner-1.png);
		}
		@include respond(phone-large) {
			background-image: url(../../resources/img/top-banner-1-min-small.png);
			height: 48rem;
		}
	}
}
