.utility-margin-top-large {
	margin-top: 10rem;
}

.utility-margin-top-small {
	margin-top: 1rem;
}

.utility {
	box-sizing: border-box;
	padding: 0;

	&-row {
		box-sizing: border-box;
		margin: 0 5rem;
	}

	&-block-large {
		margin-top: 15rem;
	}

	&-block-small {
		margin-top: 4rem;
	}
}
