.section-packages {
	margin: 0;

	&__container {
		max-width: 100vw;
		background-image: url(../../resources/img/bg-1.png);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;

		@include respond(tab-port) {
			background-image: url(../../resources/img/bg-1-min.png);
		}
	}

	&__package-list {
		padding-top: 5rem;
		display: flex;
		max-width: 114rem;
		margin: 0 auto;
		justify-content: space-around;

		@include respond(phone-large) {
			flex-direction: column;
		}

		&__package {
			margin: 1rem 1.65%;
			padding: 5rem 0;
			text-align: center;
			border: 0.1rem solid $color-primary;
			box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
			background-color: $color-white;

			& p:first-of-type {
				font-family: $mukta;
				color: $color-primary;
				font-size: 1.6rem;
				margin-top: 0.5rem;
				margin-bottom: -0.5rem;
				font-weight: 500;
			}

			&--1 {
				width: 30%;
				align-self: flex-start;

				@include respond(phone-large) {
					width: 60%;
					margin: 3rem auto;
					align-self: center;
				}
				@include respond(phone-small) {
					width: 90%;
					margin: 3rem auto;
					align-self: center;
				}
			}
			&--2 {
				width: 30%;
				margin-top: 15rem;
				align-self: flex-end;

				@include respond(phone-large) {
					width: 60%;
					margin: 3rem auto;
					align-self: center;
				}
				@include respond(phone-small) {
					width: 90%;
					margin: 3rem auto;
					align-self: center;
				}
			}
			&--3 {
				width: 30%;
				align-self: flex-start;

				@include respond(phone-large) {
					width: 60%;
					margin: 3rem auto;
					align-self: center;
				}
				@include respond(phone-small) {
					width: 90%;
					margin: 3rem auto;
					align-self: center;
				}
			}

			&__details {
				font-family: $mukta;
				margin-top: 3rem;
				list-style: none;
				font-size: 1.6rem;
				line-height: 4rem;
			}

			&__button {
				margin-top: 3rem;
			}
		}
	}
}

.section-services {
	&__heading {
	}

	&__service-list {
		position: relative;
		display: flex;
		flex-direction: column;

		&__list {
			flex: 1;
			display: flex;

			@include respond(phone-large) {
				flex-direction: column;
			}

			&__img {
				flex: 1;
				display: flex;

				& img {
					margin: auto;

					@include respond(tab-port) {
						width: 80%;
					}
					@include respond(phone-large) {
						width: 50%;
					}
				}
			}

			&__details {
				flex: 1;
				display: flex;
				flex-direction: column;
				justify-content: center;

				&__heading {
				}

				&__paragraph {
					margin: 3rem 4rem 0 4rem;
				}

				&--2 {
					order: -1;

					@include respond(phone-large) {
						order: 0;
					}
				}
			}
		}
	}
}

.section-about {
	background-image: url(../../resources/img/bg-2-min.png);
	background-size: cover;
	padding: 3rem 0;

	@include respond(big-dekstop) {
		background-image: url(../../resources/img/bg-2.png);
	}

	&__heading {
		width: 60%;
		margin: 0 auto;

		& .heading {
			color: $color-white;
			letter-spacing: 0;
			line-height: 1.3;
		}
	}

	&__details {
		max-width: 114rem;
		margin: 0 auto;
		padding: 5rem 0;
		display: flex;
		align-items: center;
		justify-content: space-evenly;

		@include respond(tab-port) {
			flex-direction: column;
		}

		&__paragraph {
			padding: 0 7rem;
			display: flex;
			flex-direction: column;
			align-self: flex-start;
			justify-content: flex-start;

			@include respond(tab-land) {
				padding: 0 5rem 0 3rem;
			}
			@include respond(tab-port) {
				padding: 0 5rem 0 3rem;
			}

			& p {
				font-size: 1.8rem;
				color: $color-white;
				margin-bottom: 2rem;
			}
		}

		&__video {
			padding: 0 2rem;

			@include respond(tab-port) {
				padding: 5rem 0;
			}

			& video {
				width: 60rem;

				@include respond(tab-land) {
					width: 50rem;
				}

				@include respond(tab-port) {
					width: 70rem;
				}
				@include respond(phone-large) {
					width: 60rem;
				}
				@include respond(phone-small) {
					width: 50rem;
				}
			}
		}
	}
}

.section-testimonials {
	&__heading {
	}

	&__testimonial {
		width: 100vw;
		margin: 0 auto;
		display: flex;
		flex-direction: row;
		cursor: grab;

		@include respond(phone-large) {
			flex-direction: column;
		}

		&__img {
			flex: 1;
			margin: 0 auto;
			z-index: -1;
			display: flex;

			& img {
				width: 100%;

				@include respond(phone-large) {
					width: 40%;
					transform: scale(1.4);
					margin: auto;
				}
			}
		}

		&__paragraph {
			flex: 1;
			//width: 50%;
			margin-right: 2rem;
			align-self: center;
			justify-self: left;
			z-index: 2;

			@include respond(phone-large) {
				justify-self: center;
				margin: 2rem;
			}

			& p {
				font-size: 1.6rem;
			}

			& .heading {
				padding-top: 2rem;
				text-align: left;
			}
		}
	}
}

.section-showcase {
	margin-top: 2rem;
	display: flex;
	padding: 8rem 4rem;
	width: 100vw;
	background-image: url(../../resources/img/dot-bgpng.png);
	background-repeat: repeat;
	background-size: initial;

	@include respond(tab-port) {
		flex-direction: column;
		background-image: url(../../resources/img/dot-bgpng-min.png);
	}

	&__details {
		width: 100%;
		padding: 0 5rem 0 0;

		@include respond(tab-port) {
			padding: 0 3rem 0 0;
		}

		& .heading {
			color: $color-white;
			font-size: 4rem;
			text-align: left;

			@include respond(tab-port) {
				text-align: center;
			}
		}

		& p {
			margin-top: 2rem;
			color: $color-white;
			font-size: 1.8rem;
			line-height: 3.2rem;
		}
	}

	&__images {
		@include respond(tab-port) {
			margin-top: 2rem;
		}
		& img {
			@include respond(phone-large) {
				width: 80%;
				height: 100%;
			}
		}
	}

	&__box {
		width: 80%;
		margin: 0 auto;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		list-style: none;
		align-items: center;
		justify-content: space-around;
		height: 100%;

		&__item {
			width: auto;
			margin: 0;
			@include respond(tab-port) {
				margin: 2rem 0;
			}
			@include respond(phone-large) {
				width: 50%;
			}
		}
	}
}

.section-getstarted {
	padding: 6rem;
	background-image: url(../../resources/img/bottom-bg-min.png);

	@include respond(big-dekstop) {
		background-image: url(../../resources/img/bottom-bg.png);
	}

	& .heading {
		color: $color-white;
	}

	&__form {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 100%;
		justify-content: space-around;

		&__emailbox {
			margin-top: 2rem;
			height: 5rem;
			width: 50rem;
			padding: 0 2rem;
			color: $color-primary;
			font-family: $mukta;
			font-weight: 700;
			font-size: 1.6rem;

			&::placeholder {
				font-size: 1.5rem;
			}
		}

		&__button {
			margin: 2rem;
		}
	}
}

footer {
	padding: 2rem 0;
	text-align: center;
	font-size: 2rem;
}
